<div class="main">
    <div class="card">
        <h3>სესხები</h3>
        <p>ისარგებლეთ თქვენზე მორგებული სესხით და მიიღთ საჭრო თანხა</p>
        <a href="#">გაიგეთ მეტი</a>
        <div class="for-img">

        </div>
    </div>

    <div class="card">
        <h3>ბარათები</h3>
        <p>ისარგებლეთ სხვადასხვა უპირატესობით და მიიღეთ დამატებითი ქულები</p>
        <a href="#">გაიგეთ მეტი</a>
        <div class="for-img">

        </div>
    </div>

    <div class="card">
        <h3>ანაბრები</h3>
        <p>გადაანაწილეთ საკუთრი აქტივები ისე, რომ თქვენი ნებისმიერი მიზანი აქციოთ რეალობად</p>
        <a href="#">გაიგეთ მეტი</a>
        <div class="for-img">

        </div>
    </div>

</div>
