<div class="products-wrapper">
  <h1 class="products-heading">Products</h1>

  <div class="main">
    <div class="card">
      <h3>Loans</h3>
      <p>Take advantage of a loan tailored to you and receive a lump sum</p>
      <a href="#">გაიგეთ მეტი</a>
      <div class="for-img"></div>
    </div>

    <div class="card">
      <h3>Cards</h3>
      <p>Take advantage of various benefits and earn extra points</p>
      <a href="#">გაიგეთ მეტი</a>
      <div class="for-img"></div>
    </div>

    <div class="card">
      <h3>Deposits</h3>
      <p>Reallocate your assets to make any of your goals a reality</p>
      <a href="#">გაიგეთ მეტი</a>
      <div class="for-img"></div>
    </div>
  </div>
</div>