<nav>
    <div class="nav-top" *ngIf="!scrolled">
      <div class="container">
        <div class="logo-section">
            <div class="logo">LOGO</div>
            <a href="#" class="main-link">solo</a>
        </div>
        <div class="top-links">
          <a href="#">ფიზიკური პირი</a>
          <a href="#">ბიზნესი</a>
          <a href="#">შეთავაზებები</a>
        </div>
      </div>
    </div>
  
    <div class="nav-bottom" [class.fixed]="scrolled">
      <div class="container">
        <a href="#">მთავარი</a>
        <a href="#">დეველოპერები</a>
        <a href="#">ინვესტიციები</a>
        <a href="#">სიახლეები</a>
        <a href="#">ბლოგი</a>
      </div>
    </div>
  </nav>