<nav>
    <div class="nav-top" *ngIf="!scrolled">
      <div class="container">
        <div class="logo-section">
            <div class="logo">LOGO</div>
            <a href="#" class="main-link">solo</a>
        </div>
        <div class="top-links">
          <a href="#">Phisical</a>
          <a href="#">Business</a>
          <a href="#">Offers</a>
        </div>
      </div>
    </div>
  
    <div class="nav-bottom" [class.fixed]="scrolled">
      <div class="container">
        <a href="#">Main</a>
        <a href="#">Developers</a>
        <a href="#">Investments</a>
        <a href="#">News</a>
        <a href="#">Blog</a>
      </div>
    </div>
  </nav>